<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Online-Pharm</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div class="navbar-btn btn-toolbar">
        <button class="btn btn-primary" type="button" routerLink="/">
          <span class="glyphicon glyphicon glyphicon-home button-text"></span>
        </button>
        <button class="btn btn-primary" routerLink="/about">
          <span class="button-text">
            About
          </span>
        </button>
        <button class="btn btn-primary" routerLink="/contact">
          <span class="button-text">  
            Contact
          </span>  
        </button>
        <button class="btn btn-primary" routerLink="/products">
          <span class="button-text">
            Products
          </span>
        </button>
        <button class="btn btn-primary" routerLink="/categories">
          <span class="button-text">
            Categories
          </span>
        </button>
        <button class="btn btn-primary cart" type="button" routerLink="/cart">
          Cart
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="badge">{{inCart}}</span>
        </button>
        <button class="btn btn-primary cart" type="button" *ngIf="!showLogoutButton" (click)="logout()">
          Log in
        </button>
         <button class="btn btn-primary cart" type="button" *ngIf="showLogoutButton" (click)="logout()">
          Log out
        </button>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>