<div class="container" style="border:3px solid green;">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
					 <img src="{{details.image}}" height="300" width="600" border="5"> 
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{details.name}}</h3>
						<h4 class="price">current price: <span>$180</span></h4>
						<h5>
							In stock: {{details.stock}}
						</h5>
						<h5>
							Category: {{details.category}}
						</h5>

						<h6>
							Country: {{details.country}}
						</h6>
						<h6>
							Manufacturer: {{details.manufacturer}}
						</h6>
						<h6>
							Production year: {{details.productionYear}}
						</h6>
						<h6>
							Expiry date: {{details.expiryDate}}
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>