 <div class="container">
   <form>
    <div class="form-group">
      <span class="label label-info left">Email address</span>
      <input type="email" class="form-control email">
    </div>
    <div class="form-group">
      <span class="label label-info left">Title</span>
      <input type="text" class="form-control title">
    </div>
    <div class="form-group">
      <span class="label label-info left">Your input here</span>
      <input type="text" class="form-control input-lg">
    </div>
    <button type="submit" class="btn btn-lg btn-default" (click)="submit()">Submit</button>
  </form> 
</div>