<div class="form-inline cart">
  <table class="table cart-table left">
    <thead>
      <tr>
        <th class="table-header">ID</th>
        <th class="table-header">Name</th>
        <th class="table-header">Category</th>
        <th class="table-header">Price(€)</th>
        <th class="table-header">Amount</th>
        <th class="table-header">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let item of cartItems">
        <td>{{item.productId}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price * item.amount}}</td>
        <td>{{item.amount}}</td>
        <td>
           <button type="button" class="btn btn-xs btn-danger" (click)="remove(item.id); updatePrice()">
              <span class="glyphicon glyphicon-remove-circle"></span>
           </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: left;">
  	<h3>Tax: 20%</h3>
  	<h3>Total: {{total}}€</h3>
  	<button type="button" class="btn btn-lg btn-success right checkout" (click)="checkout()">
      Checkout
  	</button>
  </div>
</div>