<div class="form-inline cart">
  <table class="table cart-table left">
    <thead>
      <tr>
        <th class="table-header">ID</th>
        <th class="table-header">Name</th>
        <th class="table-header">Category</th>
        <th class="table-header">Price per unit</th>
        <th class="table-header">Amount</th>
        <th class="table-header">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let item of cartItems">
        <td>{{item.productId}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
        <td>{{item.amount}}</td>
        <td>
           <button type="button" class="btn btn-xs btn-danger" (click)="remove(item.id); updatePrice()">
              <span class="glyphicon glyphicon-remove-circle"></span>
           </button>
        </td>
      </tr>
    </tbody>
  </table>
  	<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                    <div class="form-group">
                        <label for="cardNumber">
                            BANC ACCOUNT</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Bank account number"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="cardNumber">
                            VERIFICATION ID</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Card verification id"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href=""><span class="badge pull-right" disabled="true">{{total}}</span> Total amount to pay: </a>
                </li>
            </ul>
            <br/>
            <button type="button" class="btn btn-success btn-lg btn-block" (click)="checkout()">
              Checkout
            </button> 
        </div>
    </div>
</div>

        