<div class="container">
  <div class="form-inline">
      <input type="text" class="form-control input-field left" style="width: 30%" placeholder="Filter by name..."
      [(ngModel)]="search" (keyup)="onFilter($event)">
      <button class="btn btn-md btn-primary right" style="color: #69f0ae" type="button" (click)="addNew()">
             <span class="glyphicon glyphicon-plus"></span>
      </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="table-header">ID</th>
        <th class="table-header">Name</th>
        <th class="table-header">In stock</th>
        <th class="table-header">Price</th>
        <th class="table-header">Category</th>
        <th class="table-header">Details</th>
        <th class="table-header"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
         <td>
          <button type="button" class="btn btn-xs btn-info" (click)="getDetails(product.id)">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
          </button>
        </td>
        <td>
           <button *ngIf="product.stock > 0" type="button" class="btn btn-xs btn-success" (click)="addToCart(product)">
              <span class="glyphicon glyphicon-shopping-cart"></span>
           </button>
           <button type="button" class="btn btn-xs btn-danger" (click)="remove(product.id)">
              <span class="glyphicon glyphicon-remove-circle"></span>
           </button>
        </td>
      </tr>
      <!-- <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td>
        <td>
          Page: 
          <input type="text" name="page" style="width: 25px" placeholder="1">
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
