@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import '~@angular/material/prebuilt-themes/purple-green.css';

.right {
	float: right;
}

.left {
	float: left;
}

.table-header {
	text-align: center;
}

.input-field {
	width: 30%;
}